#result{
  display: none;
}

html{
  background: url('../images/Words.jpg') no-repeat;
}

h1{
  color:#FF3399;
  font-family: helvetica;
  font-size: 50px;
}

.container{
  padding: 5px 10px 10px 10px;
  text-align: center;
  color: white;
  background: rgb(0, 0, 0);
  background:rgba(0, 0, 0, 0.75);
  font-family: georgia
}

.btn{
  border: #FF3399;
  background-color: #FF3399;
  color: white;
}

.scrabbleScore{
  color: #FF3399;
  font-weight: bold;
}

#purpose{
  font-weight:bold;
  margin-bottom: 0px;
  font-size: 20px;
}

#disclaimer {
  margin-top: 0px;
  font-style: italic;
  font-size: 14px;
}
